@page
@using MadsNielsenKjerumgaardS1.WebWithCats.Logic

@{ 
    Cat cat = new Cat("", "", "", "");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="cat">
        <h3>Overskrift</h3>
        <img src="#" alt="Alternativ text"/>
        <p>Beskrivelse</p>
    </div>
</body>
</html>